.tableData {
    width: 862px;
}

.listins {
    background-color: #7065F0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* width: 100vw; */
    height: 100vh;
    flex-direction: column;
    gap: 25px;
}