.BodyTwo-Menu {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 100px;
}
.PBLO {
    display: grid;
    grid-template-columns: repeat(2, 38%);
    grid-auto-rows: 215px;
    grid-column-gap: 67px;
    justify-content: center;
}

.newHome h2 {
    margin-top: -255px;
}

.BodyTwo-Menu Button {
    background-color: #100A55;
    width: 159px;

}
.BodyTwo-Menu span{
    font-size: 11px;
    color : #fff;
}
.BodyTwo-Menu h2{
    color : #100A55;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 11px;
}
.BodyTwo-Menu p{
    color: #100A55;
    margin-bottom: 21px;
}

.PBLO p{
    color: #4D5461;
    font-size: 14px;
}

@media (max-width: 829px){
    .BodyTwo-Menu h2 {
        font-size: 16px;
    }
    .BodyTwo-Menu p {
        font-size: 12px;
    }
    .BodyTwo-Menu {
        padding: 35px;
    }
}

@media (max-width: 751px) {
    .BodyTwo-Menu {
        display: flex;
        gap: 70px;
        flex-direction: column;
    }
}

@media (max-width: 528px) {
    .BodyTwo-Menu p {
        font-size: 10px;
    }
    .PBLO {
        grid-column-gap: 17px;
    }
    .dropdown p {
        position: relative;
        top: -18px;
    }

}

@media (max-width: 519px) {
    .check p {
        position: relative;
        top: 0px;
    }
}
@media (max-width: 510px) {
    .check p {
        position: relative;
        top: -27px;
    }
}

@media (max-width: 421px) {
    .houseincon p {
        position: relative;
        top: -28px;
    }
}