.user-data {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    font-family: 'Plus Jakarta Sans';
    align-items: center;
}
img.pencil.icon {
    width: 22px;
    cursor: pointer;
}

.div-data {
    display: flex;
    gap: 12px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 23px;
}

.user-data h2 {
    font-size: 30px;
}

.agent-details {
    margin-top: 21px;
    font-size: 22px;
}

@media (max-width: 790px){
    .user-data h2 {
        font-size: 21px;
    }
    .div-data p {
        color: #C4C4C4;
        font-size: 13px;
        font-family: 'Poppins';
    }
}

@media (max-width: 569px){
    .user-data h2 {
        font-size: 15px;
    }
    .div-data p {
        color: #C4C4C4;
        font-size: 11px;
        font-family: 'Poppins';
    }
    .agent-details p {
        color: #C4C4C4;
        font-size: 11px;
        font-family: 'Poppins';
    }
    .popup-content {
        width: 81%;
    }
}