.open{
    height: 100%; /* Make the body take the full height of the viewport */
    margin: 0; /* Remove default margin */
    background: linear-gradient(135deg, #222222 26%, #474747 86%);
}

.first {
    padding-top: 12px;
    font-family: 'Poppins';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 111px;
}
.first h1 {
    font-size: 64px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 1.1;
}
.first p {
    color: #C4C4C4;
    font-size: 18px;
    font-family: 'Poppins';
}

.second {
    display: flex;
    margin-top: 42px;
    flex-direction: row-reverse;
    padding: 169px;
}

.buildins {
    margin-top: -330px;
    position: relative;
    left: -168px;
}

.third button {
    background: linear-gradient(135deg, #60BBEE 26%, #0A72AD 86%);
    width: 200px;
    height: 61px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    position: relative;
    left: -648px;
    margin-bottom: 44px;
}
p.ninehun, p.threehun, p.twentyhun {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins';
    color: white;
}

p {
    color: #C4C4C4;
    font-size: 18px;
    font-family: 'Poppins';
}

.paragraph p {
    color: white;
    font-size: 17px;
    font-family: 'Poppins';
}

.simpleEncrpt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 446px;
}

.almight {
    display: flex;
    gap: 31px;
}

.paragraph {
    padding: 21px;
    width: 742px;
    background: linear-gradient(150deg, #399FD8 18%, #0775B4 30%, #003756 64%);
}

p.genre:hover {
    cursor: pointer;
    background-color: #474747;
    border-radius: 9px;
    width: 111px;
    height: 33px;
}

p.gen2:hover {
    cursor: pointer;
    background-color: #474747;
    border-radius: 9px;
    width: 111px;
    height: 33px;
}

p.gen3:hover {
    cursor: pointer;
    background-color: #474747;
    border-radius: 9px;
    width: 111px;
    height: 33px;
}
p.gen4:hover {
    cursor: pointer;
    background-color: #474747;
    border-radius: 9px;
    width: 111px;
    height: 33px;
}

p.gen5:hover {
    cursor: pointer;
    background-color: #474747;
    border-radius: 9px;
    width: 111px;
    height: 33px;
}
p.gen6:hover {
    cursor: pointer;
    background-color: #474747;
    border-radius: 9px;
    width: 111px;
    height: 33px;
}

@media (max-width: 1083px){
    .first {
        gap: 59px;
    }
    .second h1 {
        font-size: 30px;
    }

    .buildins img {
        width: 447px;
        position: relative;
        top: 84px;
    }
    p.ninehun, p.threehun, p.twentyhun {
        font-size: 21px;
        font-weight: 500;
        font-family: 'Poppins';
        color: white;
    }
    .almight p {
        color: #C4C4C4;
        font-size: 12px;
        font-family: 'Poppins';
    }
    .almight {
        display: flex    ;
        gap: 31px;
        margin-left: 24px;
    }
    .paragraph p {
        color: white;
        font-size: 12px;
        font-family: 'Poppins';
    }
    .second p {
        color: #C4C4C4;
        font-size: 13px;
        font-family: 'Poppins';
    }
}

@media (max-width: 939px){
    .simpleEncrpt {
        gap: 249px;
    }
    .buildins img {
        display: none;
    }
}

@media (max-width: 795px){
    .first p {
        color: #C4C4C4;
        font-size: 14px;
        font-family: 'Poppins';
    }
    .first {
        gap: 31px;
    }
    p.gen3:hover {
        cursor: pointer;
        background-color: #474747;
        border-radius: 9px;
        width: 88px;
        height: 24px;
    }
    p.gen4:hover, p.gen5:hover,p.gen6:hover {
        cursor: pointer;
        background-color: #474747;
        border-radius: 9px;
        width: 96px;
        height: 24px;
    }
}

@media (max-width: 638px){
    .second {
        display: flex ;
        margin-top: 42px;
        flex-direction: row-reverse;
        padding: 60px;
    }
    .simpleEncrpt {
        display: flex    ;
        flex-direction: column;
        gap: 103px;
        align-items: center;
    }
    .paragraph p {
        color: white;
        font-size: 8px;
        font-family: 'Poppins';
    }
    .paragraph {
        width: 90%;
    }
}

@media (max-width: 529px){
    .first p {
        color: #C4C4C4;
        font-size: 10px;
        font-family: 'Poppins';
    }
    p.gen4:hover, p.gen5:hover, p.gen6:hover {
        cursor: pointer;
        background-color: #474747;
        border-radius: 9px;
        width: 77px;
        height: 16px;
    }
}

@media (max-width: 425px){
    p.gen2,p.gen5, p.gen6{
        display: none;
    }
    .paragraph {
        width: 89%;
    }
}

@media (max-width: 379px){
    .second h1 {
        font-size: 18px;
    }
    .simpleEncrpt {
        gap: 43px;
    }
    .almight p {
        font-size: 9px;
    }
    .second p {
        font-size: 10px;
    }
    .second {
        padding: 7px;
    }
}