.backSlideDsiplay {
    background-color: #100A55;
    padding-bottom: 136px;
}

.landlord-Tenant {
    display: flex;
    justify-content: center;
    padding: 150px;
    gap: 234px;
}

.virtualBest {
    margin: 62px;
    display: flex;
    justify-content: center;
    gap: 19px;
}

.averaging {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 139px;
    margin-top: 48px;
}

.white {
    background-color: #fff;
    padding: 15px;
    border-radius: 19px;
    width: 700px;
}

.white h2 {
    color: black;
    font-size: 24px;
    font-family: 'Plus Jakarta Sans';
}
.white p {
    color: #8f8888;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans';
}

.deeppurple {
    background-color: #7065F0;
    padding: 15px;
    border-radius: 19px;
    width: 700px;
}
.deeppurple img {
    background: white;
    border-radius: 6px;
}
.lightpurple {
    background-color: #312F4B;
    padding: 15px;
    border-radius: 19px;
    width: 700px;
}

h2.landloadheader {
    font-family: 'Plus Jakarta Sans';
    font-size: 40px;
    color: white;
}

p.landloadheader {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
}

.averaging h2 {
    font-size: 40px;
    font-family: 'Plus Jakarta Sans';
    color: white;
}

.averaging p {
    font-size: 16px;
    color: white;
    font-family: 'Plus Jakarta Sans';
}

@media (max-width: 1329px){
    h2.landloadheader {
        font-size: 22px;
    }
    p.landloadheader {
        font-family: 'Plus Jakarta Sans';
        font-size: 14px;
    }
    .landlord-Tenant {
        display: flex;
        justify-content: center;
        padding: 27px;
        gap: 49px;
    }
    .lightpurple p, .white p, .deeppurple p {
        color: #C4C4C4;
        font-size: 11px;
        font-family: 'Poppins';
    }
    .white h2, .lightpurple h2, .lightgreen h2,  .deeppurple h2{
        font-size: 20px;
    }
}

@media (max-width: 871px){
    .averaging h2 {
        font-size: 27px;
    }
    .averaging p {
        font-size: 12px;
    }
    .averaging {
        gap: 64px;
        margin-top: 0;
        margin-bottom: -97px;
    }
}
@media (max-width: 569px){
    .virtualBest {
        margin: 37px;
        display: flex    ;
        justify-content: center;
        gap: 7px;
    }
}

@media (max-width: 500px){
    .virtualBest {
        gap: 17px;
        flex-direction: column;
    }
    .lightpurple ,.white,.deeppurple {
        width: 217px;
    }
    .virtualBest {
        align-items: center;
    }
    .landlord-Tenant {
        flex-direction: column;
    }
}

@media (max-width: 480px){
    .averaging{
        display: none;
    }
    .virtualBest {
        margin-bottom: -110px;
    }
}